{
  "project": "project-name",
  "name": "your-name",
  "provider": "vsphere"
  "box":{
    "name": "sunweiye/lnmp",
     "url": "https://raw.githubusercontent.com/sunweiye/vagrant-lnmp-box/master/box/lnmp.box"
  },
  "vsphere": {
    "vcenter": "vcenter.address",
    "data_center": "data-center-name",
    "host": "exsi.host.address",
    "template": "vm-template-name",
    "base_path": "vm-folder-path",
    "resource_pool": "resource-pool-name",
    "storage": "data-storage-name",
    "user": "vcenter-user",
    "passwd": "vcenter-user-passwd"
  },
  "vm": {
    "cpu_count": 2,
    "memory": 4096,
    "vlan": "VM Network"
  },
  "provision": {
    "tags": []
  }
}
