{
  "project": "project-name",
  "name": "your-name",
  "provider": "vsphere"
  "box":{
    "name": "3vjuyuan/lnmp",
     "url": "https://raw.githubusercontent.com/3vjuyuan/vagrant-esxi-ansible/master/box/box.json"
  },
  "vsphere": {
    "vcenter": "192.168.1.50",
    "data_center":"data",
    "host": "192.168.1.10",
    "template": "Templates/ubuntu-16-box",
    "base_path": "vagrant-box/box/",
    "resource_pool": "box",
    "storage": "/datastore2_st_1000",
    "user": "vcenter-user",
    "passwd": "vcenter-user-passwd"
  },
  "vm": {
    "cpu_count": 2,
    "memory": 4096,
    "vlan": "VM Network"
  }
}
